@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html,body{
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
}

@font-face {
    font-family: adero , sans-serif;
    src: url('./assets/fonts/adero/AderoTrial-ExtraBold.otf');
}

@font-face {
    font-family: Helvetica-Bold;
    src: url('./assets/fonts/helvetica-255/helvetica-compressed-5871d14b6903a.otf');
}

@font-face {
    font-family: Kyiv Type;
    src: url('./assets/fonts/KyivTypeSerif-VarGX.ttf');
}

@font-face {
    font-family: Scream;
    src: url('./assets/fonts/good-times/good\ times\ rg.otf');
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .container{
    max-width: 370px;
    margin: 0 auto;
  }



/* HEADER STYLING */

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 20px  rgb(36, 19, 54);
    background: url('./assets/bg-dark.gif');
    background-size: cover;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 0.5em;
    width: 100%;
    z-index: 100;
}

.left,
.right{
    display: none;
}

.header > img{
    width: 29%;
    height: 100px;
    border-radius: 187px;
    margin-right: 8em;
}

.header--btn{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 12%;
    height: 33px;
    background-color: #888;
}

a{
    cursor: pointer;
}

.hamburger-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px #232323;
    text-align: center;
    list-style: none;
    font-family: "Oxanium";
    font-weight: 200;
    padding-left: 0;
    background-color: #121212;
    margin-top: 7em;
    color: #fff;
    margin-bottom: -7.4em;
}


.hamburger-list > li{
    font-size: 1.5rem;
    padding: 1.25em;
    position: relative;
    z-index: 10;
}

.hamburger-list > li:first-child{
    font-size: 1.5rem;
    padding: 1.25em;
    position: relative;
    z-index: 10;
    margin-top: 2em;
}




/* SECTION ONE STYLING */



.section-one{
    background:url('./assets/bg-dark.gif');
    background-size: contain;
    width: 100%;
    height: 520px;
    color: #fff;
    position: relative;
    margin-top: 6em;
}

.section-one > h1{
    font-family: Scream;
    letter-spacing: 2px;
    font-size: 1.75rem;
    font-weight: 1000;
    margin: 0;
    padding-top: 1em;
    text-shadow: 2px 2px 100px saddlebrown;
}

.wrench{
    position: absolute;
    top: 2em;
    right: 0;
    height: 340px;
    width: 90%;
}

.h-one{
    position: absolute;
    z-index: 10;
    top: 3.5em;
    left: 0.5em;
}

.h-two{
    position: absolute;
    z-index: 10;
    top: 5.5em;
    left: 1.5em;
}

.h-three{
    position: absolute;
    z-index: 10;
    top: 7.5em;
    left: 3em;
}


.scroll--down{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.scroll--down > h3{
    font-size: 0.75rem;
}

.scroll--bar{
    background: url('./assets/down.gif');
    background-size: cover;
    height: 50px;
    width: 50px;
}

/* SECTION TWO STYLING */

.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #fff;
    background-color: #161616;
    width: 82%;
    padding: 1em 1em 1em 1.5em;
    margin: 0 auto;
    margin-top: -1em;
    z-index: 12;
    border-radius: 2em;
    height: 250px;
}


.box-one{
    height: 40px;
    width: 52px;
}

.contact--btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: #5C5C5C;
    padding: 1em;
    border-radius: 2em;
    border: none;
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    height: 52px;
    color: #fff;
    font-size: 1rem;
    width: 60%;
}

.contact--btn  > a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}


.arrows{
    height: 28px;
    width: 28px;
}

.box > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    margin: 1em 0 0.5em 0
}

.box > h2{
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    margin-top: 0;
    font-size: 1rem;
    width: 80%;
}


.box-two{
    margin-top: 1.5em;
}


.img-two{
    height: 50px;
    width: 60px;
}

.box-three{
    margin-top: 1.5em;
}

.img-three{
    height: 50px;
    width: 52px;
}



/* SECTION THREE STYLING */
.section-three{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 1em;
    color: #fff;
    padding-bottom: 2em;
}

.three-one > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 0;
    margin-top: 1em;
}

.three-one > h2{
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 2.5em;
}

.three-two > h3{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 0.5em 0 0.5em 0;
}

/* SECTION FOUR STYLING */

.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 1em 0 4em 0;
    
}

.sub-one{
    background-color: #121212;
    color: #fff;
    border-radius: 1.25em;
    padding: 2em;
    border: 1px solid #fff;
    height: 500px;
    width: 88%;
}


.sub-one > h1{
    font-family: Helvetica-Bold;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 1em;
}

.sub-one > h2{
    font-family: Helvetica-Bold;
    font-weight: 900;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 1em;
}

.sub-one > p{
    font-family: Kyiv Type;
    font-size: 1rem;
    width: 95%;
    margin-top: 1.5em;
    font-weight: 200;
    margin-bottom: 2em;
}


.sub-two{
    background: url('./assets/staff/combined.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 200px;
    width: 88%;
    border-radius: 1.25em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2em;
    position: absolute;
    top: 22em;
    border: 1px solid #fff;
}

/* SECTION FIVE STYLING */
.section-five,
.sub-section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.section-five > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

.one{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 1em;
}

.circle-one{
    height: 123px;
    background:url('./assets/services/gif/service-one.gif');
    background-size: cover;
    border-radius: 50%;
    width: 35%;
}

.circle-two{
    height: 123px;
    background:url('./assets/services/gif/service-two.gif');
    background-size: cover;
    border-radius: 50%;
    width: 35%;
}

.circle-three{
    height: 123px;
    background:url('./assets/services/gif/service-three.gif');
    background-size: cover;
    border-radius: 50%;
    width: 35%;
}

.sub-five{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-five > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.sub-five > h2{
    font-size: 1rem;
    text-align: center;
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
}


.box-service{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #fff;
    background-color: #161616;
    width: 85%;
    margin: 0 auto;
    margin-top: 2em;
    z-index: 12;
    border-radius: 2em;
    height: 300px;
    overflow: hidden;
}




.box-service > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    margin: 1em 0 0.5em 1em;
}

.box-service > h2{
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    margin-top: 0;
    margin-left: 1.4em;
    margin-bottom: 1em;
    font-size: 1rem;
    width: 80%;
}

.service-one-img{
    width: 100%;
    margin-top: -1em;
    height: 160px;
    background: url('./assets/services/one.png');
    background-size: cover;
}

.service-two-img{
    width: 100%;
    margin-top: -1em;
    height: 160px;
    background: url('./assets/services/two.png');
    background-size: cover;
}

.service-three-img{
    width: 100%;
    margin-top: -1em;
    height: 160px;
    background: url('./assets/services/three.png');
    background-size: cover;
}

.service-four-img{
    width: 100%;
    margin-top: -1em;
    height: 160px;
    background: url('./assets/services/four.png');
    background-size: cover;
}

.sub-section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* SECTION SIX STYLING */
.section-six{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #121212;
    margin-top: 1em;
}

.section-six > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

.staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.staff-one,
.staff-two,
.staff-three{
    display: flex; font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.img-staff-one{
    width: 75%;
    height: 304px;
    background: url('./assets/staff/owner.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 44px;
    margin-top: 0.5em;
}

.img-staff-two{
    width: 75%;
    height: 304px;
    background: url('./assets/staff/manager.png');
    background-size: cover;
    background-position: center;
    border-radius: 44px;
    margin-top: 0.5em;
}

.img-staff-three{
    width: 75%;
    height: 304px;
    background: url('./assets/staff/manager-two.png');
    background-size: cover;
    background-position: center;
    border-radius: 44px;
    margin-top: 0.5em;
}

.staff-one > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.staff-one > h2,
.staff-two > h2,
.staff-three > h2{
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    margin-top: 0;
}

.staff-two > h2,
.staff-three > h2{
    margin-top: 1em;
}

/* SECTION SEVEN STYLING */

.section-seven{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

.section-seven > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.section-seven > h2{
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    text-align: start;
    width: 80%;
}

.video-container-three{
    border-radius: 1.25em;
    border: 2px solid #232323;
    position: relative;
    top: 0;
    bottom: 0;
    width: 94%;
    margin: 0 auto;
    height: 500px; 
    overflow: hidden;
}

.video-container-three > video{
    min-width: 100%; 
    min-height: 100%; 
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -10%);
}


/* FOOTER STYLING */

.footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    background: url('./assets/car-backfire.gif');
    background-size: cover;
    color: #fff;
    background-color: #555;
    margin-top: 2em;
}

.footer > h1{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 1em 0 1em 1em;
    text-shadow: 5px 5px 10px red;
}


.footer > h2{
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    margin: 0 0 1em 1em;
    text-shadow: 5px 5px 10px red;
    font-size: 1.5rem;
}

.footer > h3{
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    margin: 0 auto;
}

.footer{
    background-position: center;
    border-radius: 1em;
}


@media (min-width:376px) {
    .container{
        max-width: 425px;
    }

    .header > img{
        width: 25%;
    }

    .section-one{
        width: 100%;
        height: 80vh;
    }

    .section-two,
    .section-three,
    .section-five,
    .section-six{
        max-width: 370px;
        margin: 0 auto;
    }

    .section-four{
        width: 78%;
    }

    .sub-one > h1{
        margin-top: 0.25em;
    }

    .location{
        width: 92%;
    }

    .location > h2{
        font-size: 1.5rem;
    }

    @media (min-width:500px) {
        .container{
            max-width: 425px;
        }

        .header{
            max-width: 425px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .footer{
            background-position: center;
            border-radius: 1em;
        }

        .sub-header-two{
            display: none;
        }
    }

    @media (min-width:1023px) {
        .container{
           max-width: 1024px;
        }

        .header{
            max-width: 1024px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .header > img{
            width: 15%;
            height: 140px;
        }
        
        .left,
        .right{
            display: flex;
            flex-direction: row;
            font-family: "Oxanium", sans-serif;
            font-weight: 200;
        }

        .right{
            width: 40%;
        }
        .left{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .left > button{
            padding: 1em;
            border-radius: 2em;
            font-family: "Oxanium", sans-serif;
            font-weight: 200;
            width: 60%;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #808080;
            border: none;
            color: #fff;
            font-size: 1rem;
        }

        .left > button > a,
        .contact--btn  > a{
            text-decoration: none;
            color: #fff;
            font-weight: 500;
        }

        .left > a{
            text-decoration: none;
            color: #fff;
        }

        .left,
        .right{
            font-size: 1.5rem;
            color: #fff;
        }

        .right > ul{
            display: flex;
            width: 100%;
            justify-content: space-around;
            list-style: none;
        }


        .header > img{
            margin: 0 auto;
            margin-left: 140px;
        }



        .header--btn{
            display: none;
        }

        .section-one{
	        background-size: contain;
            width: 100%;
            height: 800px;
        }

        .wrench{
            height: 500px;
            width: 50%;
        }

        .section-one > h1{
            font-size: 2.75rem;
        }

        .h-one{
            position: absolute;
            z-index: 10;
            top: 3.5em;
            left: 4em;
        }
        
        .h-two{
            position: absolute;
            z-index: 10;
            top: 5.5em;
            left: 6em;
        }
        
        .h-three{
            position: absolute;
            z-index: 10;
            top: 7.5em;
            left: 8em;
        }
        
        .section-two{
            max-width: 1000px;
            flex-direction: row;
            margin-top: -2.5em;
            width: 100%;
            align-items: center;
            justify-content: space-around;
        }
        
        .box{
            margin-top: 1.5em;
            margin-left: 1em;
        }

        .section-three{
            max-width: 940px;
            flex-direction: row;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            width: 100%;
        }

        .three-one{
            width: 35%;
            margin-right: 2em;
        }

        .three-one > h1{
            font-size: 2.5rem;
        }

        .three-one > h2{
            font-size: 1.25rem;
        }

        .three-two{
            width: 60%;
        }

        .three-two > h3{
            font-size: 2.75rem;
        }

        /* SECTION FOUR STYLING */

        .section-four{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 2.5em;
            width: 92%;
            border-radius: 1.25em;
            position: relative;
            margin-top: 2em;
        }

        .sub-one{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 1.25em;
            padding: 2em;
            width: 100%;
            margin-right: -2em;
            height: 440px;
        }


        .sub-one > h1{
            font-family: Helvetica-Bold,sans-serif;
            font-weight: 400;
            font-size: 2.75rem;
            text-transform: uppercase;
            width: 70%;
            letter-spacing: 2px;
            margin: 1em 0 1em 0;
        }

        .sub-one > h2{
            font-family: Helvetica-Bold,sans-serif;
            font-weight: 400;
            font-size: 1.75rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0;
            margin-top: -0.75em;
        }

        .sub-one > p{
            font-family: Kyiv Type;
            font-size: 1rem;
            width: 95%;
            margin-top: 1.75em;
            font-weight: 200;
        }


        .sub-two{
            height: 440px;
            width: 100%;
            border-radius: 1.25em;
            padding: 2em;
            position: relative;
            top: 0;
        }

        /* SECTION FIVE STYLING */
        .section-five{
            max-width: 1000px;
        }

        .section-five > h1{
            font-size: 2.75rem;
        }
        
        .sub-section-one{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .one{
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }


        .circle-one,
        .circle-two,
        .circle-three{
            height: 150px;
            width: 46%;
        }


        .circle-one{
            margin-top: 1.25em;
        }

        .sub-five{
            width: 60%;
        }
        
        .sub-five > h1{
            font-size: 1.5rem;
        }
        
        .sub-five > h2{
            font-size: 1.125rem;
        }

        .sub-section-two{
            max-width: 1024px;
            flex-direction: row;
            width: 100%;
        }

        .box-service{
            margin-left: 1em;
        }

        /* SECTION SIX STYLING */
        .section-six{
            max-width: 1024px;
            margin-top: 3em;
            margin-bottom: 1em;
            padding: 2em 0 2em 0;
        }

        .section-six > h1{
            font-size: 2.75rem;
        }

        .staff{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .staff-one > h1{
            margin-bottom: 0.25em;
        }

        .staff-two,
        .staff-three{
            margin-top: -1.25em;
        }

        /* SECTION SEVEN STYLING */
        .section-seven > h1{
            font-size: 2.75rem;
        }

        .section-seven > h2{
            font-size: 1.75rem;
            width: 60%;
        }

        .video-container-three{
            border-radius: 1.25em;
            border: 2px solid #232323;
            position: relative;
            top: 0;
            bottom: 0;
            width: 90%;
            margin: 0 auto;
            height: 500px; 
            overflow: hidden;
        }
    
        .video-container-three > video{
            min-width: 100%; 
            min-height: 100%; 
            position: absolute;
            top: 10%;
            left: 60%;
            transform: translate(-50%, -10%);
        }
    }
}

@media (min-width:1439px) {
    .header{
        max-width: 1440px;
    }

    .header > img{
        width: 10.5%;
        margin: 0 auto;
        margin-left: 80px;
    }

    .left > button{
        width:45%;
    }

    .left{
        margin-left: 5em;
    }


    .container{
        max-width: 1440px;
    }

    .section-one{
        background-size: contain;
        width: 100%;
        height: 800px;
    }

    .wrench{
        height: 575px;
        width: 45%;
    }

    .section-one > h1{
        font-size: 3rem;
    }

    .section-two,
    .section-three{
        max-width: 1240px;
    }

    .section-four{
        max-width: 1024px;
    }

    .section-six{
        justify-content: center;
        max-width: 1240px;
        width: 100%;
        height: 700px;
    }

    .video-container-three{
        border-radius: 1.25em;
        border: 2px solid #232323;
        position: relative;
        top: 0;
        bottom: 0;
        width: 90%;
        margin: 0 auto;
        height: 500px; 
        overflow: hidden;
    }

    .video-container-three > video{
        min-width: 100%; 
        min-height: 100%; 
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    .footer{
        background-position: center;
        border-radius: 1em;
    }
}